In [1]:
## Linear Regression

## Notes

In [5]:
import pandas as pd
import numpy as np

In [3]:
advertising = pd.read_csv("data/Advertising.csv")
advertising.head(3)

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3

Pottential Questions
1. Is there a relationship between avertising budget and sales
2. How strong is the relationship
3. Which media contributes most to sales
4. How accurately can we estimate the effect of each medium on sales
5. How accurately can we predict future sales
6. Is the relationship linear
7. Is there synergy amount advertising media
   
Linear regression can answer each of these

## Excercises

### Conceptual

### Applied

In [33]:
auto = pd.read_csv("Data/Auto.csv")
auto['horsepower'][~auto['horsepower'].str.contains("\d+")]  # find where horsepower isnt a digit
auto = auto[auto['horsepower']!= "?"] # removing those rows
auto['horsepower'] = auto['horsepower'].astype(float) # change to column to a float
auto.head(3)

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite

In [97]:
sm.add_constant(auto.horsepower)

     const  horsepower
0      1.0       130.0
1      1.0       165.0
2      1.0       150.0
3      1.0       150.0
4      1.0       140.0
..     ...         ...
392    1.0        86.0
393    1.0        52.0
394    1.0        84.0
395    1.0        79.0
396    1.0        82.0

[392 rows x 2 columns]

In [99]:
import statsmodels.api as sm
mod = sm.OLS( auto.mpg,sm.add_constant(auto.horsepower),hasconst=True)
res = mod.fit()
res.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    mpg   R-squared:                       0.606
Model:                            OLS   Adj. R-squared:                  0.605
Method:                 Least Squares   F-statistic:                     599.7
Date:                Tue, 10 May 2022   Prob (F-statistic):           7.03e-81
Time:                        17:33:37   Log-Likelihood:                -1178.7
No. Observations:                 392   AIC:                             2361.
Df Residuals:                     390   BIC:                             2369.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         39.9359      0.717     55.660      0.000      38.525      41.347
horsepower    -0.1578      0.006    -24.489      0.000      -0.171      -0.145
==============================================================================
Omnibus:                       16.432   Durbin-Watson:                   0.920
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               17.305
Skew:                           0.492   Prob(JB):                     0.000175
Kurtosis:                       3.299   Cond. No.                         322.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [100]:
summ = res.summary()
print(summ.as_text())

                            OLS Regression Results
==============================================================================
Dep. Variable:                    mpg   R-squared:                       0.606
Model:                            OLS   Adj. R-squared:                  0.605
Method:                 Least Squares   F-statistic:                     599.7
Date:                Tue, 10 May 2022   Prob (F-statistic):           7.03e-81
Time:                        17:33:38   Log-Likelihood:                -1178.7
No. Observations:                 392   AIC:                             2361.
Df Residuals:                     390   BIC:                             2369.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         39.9359      0.717     55.660      0.000      38.525      41.347
horsepower    -0.1578      0.006    -24.489      0.000      -0.171      -0.145
==============================================================================
Omnibus:                       16.432   Durbin-Watson:                   0.920
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               17.305
Skew:                           0.492   Prob(JB):                     0.000175
Kurtosis:                       3.299   Cond. No.                         322.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [101]:
summ.tables[0]

In [102]:
summ.tables[1]

In [103]:
summ.tables[2]