In [1]:
## Linear Regression

## Notes

In [5]:
import pandas as pd
import numpy as np

In [3]:
advertising = pd.read_csv("data/Advertising.csv")
advertising.head(3)

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3

Pottential Questions
1. Is there a relationship between avertising budget and sales
2. How strong is the relationship
3. Which media contributes most to sales
4. How accurately can we estimate the effect of each medium on sales
5. How accurately can we predict future sales
6. Is the relationship linear
7. Is there synergy amount advertising media
   
Linear regression can answer each of these

## Excercises

### Conceptual

### Applied

In [33]:
auto = pd.read_csv("Data/Auto.csv")
auto['horsepower'][~auto['horsepower'].str.contains("\d+")]  # find where horsepower isnt a digit
auto = auto[auto['horsepower']!= "?"] # removing those rows
auto['horsepower'] = auto['horsepower'].astype(float) # change to column to a float
auto.head(3)

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite

In [34]:
import statsmodels.api as sm
sm.OLS(auto.mpg,auto.horsepower)